<h1>Characters</h1>

<div class="form-group">
    <label>Search</label>
    <input type="text" class="form-control" placeholder="Search" ng-model="characterFilter"/>
</div>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Created at</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form ng-submit="createCharacter(name, race)">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Name" ng-model="name"/>
                </div>
            </form>
        </td>
        <td>
            <form ng-submit="createCharacter(name, race)">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Race" ng-model="race"/>
                </div>
            </form>
        </td>
        <td></td>
        <td>
            <button type="submit" class="btn btn-success" ng-click="createCharacter(name, race)">Create</button>
        </td>
    </tr>
    <tr ng-repeat="character in characters | filter: characterFilter | orderBy: '-createdAt'">
        <td>{{character.name}}</td>
        <td>{{character.race}}</td>
        <td>{{character.createdAt | date:'short'}}</td>
        <td>
            <button class="btn btn-danger btn-sm" ng-click="removeCharacter(character._id)">Remove</button>
        </td>
    </tr>
</table>
