<h1>Races</h1>

<div class="form-group">
    <label>Search</label>
    <input type="text" class="form-control" placeholder="Search" ng-model="raceFilter"/>
</div>

<table class="table">
    <tr>
        <th>Race type</th>
        <th>Ear type</th>
        <th>Created at</th>
        <th></th>
    </tr>
    <tr>
        <td>
            <form ng-submit="createRace()">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Race type" ng-model="newRace.raceType"/>
                </div>
            </form>
        </td>
        <td>
            <form ng-submit="createRace()">
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="Ear type" ng-model="newRace.earType"/>
                </div>
            </form>
        </td>
        <td></td>
        <td>
            <button type="submit" class="btn btn-success" ng-click="createRace()">Create</button>
        </td>
    </tr>
    <tr ng-repeat="race in races | filter: raceFilter | orderBy: '-createdAt'">
        <td>{{race.raceType}}</td>
        <td>{{race.earType}}</td>
        <td>{{race.createdAt | date:'short'}}</td>
        <td>
            <button class="btn btn-danger btn-sm" ng-click="removeRace(race._id)">Remove</button>
        </td>
    </tr>
</table>
