<h1>Users</h1>

<table class="table">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Created at</th>
    </tr>
    <tr>
        <td>
            <form ng-submit="createUser()">
                <input type="text" class="form-control" placeholder="Username" ng-model="newUser.username"/>
            </form>
        </td>
        <td>
            <form ng-submit="createUser()">
                <input type="password" class="form-control" placeholder="password" ng-model="newUser.password"/>
            </form>
        </td>
        <td></td>
        <td>
            <button class="btn btn-success" ng-click="createUser()" >Create</button>
        </td>
    </tr>
    <tr ng-repeat="user in users | orderBy: 'username'">
        <td>{{user.username}}</td>
        <td>-</td>
        <td>{{user.createdAt | date: 'short'}}</td>
        <td>
            <button class="btn btn-danger btn-sm" ng-click="removeUser(user._id)">Remove</button>
        </td>
    </tr>
</table>
